<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navigation</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<table class="table table-bordered">
  <tbody>
    <tr>
      <td>
        <a href="{{site.baseurl}}/aboutme" target="_blank" title="Frontend">
          <img src="https://github.com/iKAN2025.png" height="60" alt="Frontend">
        </a>
      </td>
      <td><a href="{{site.baseurl}}/playground" class="btn btn-primary">Playground</a></td>
      <td><a href="{{site.baseurl}}/menu" class="btn btn-primary">Fast Food Menu</a></td>
      <td><a href="{{site.baseurl}}/score" class="btn btn-primary">GPA Calculator</a></td>
      <td><a href="{{site.baseurl}}/spinner" class="btn btn-primary">Spinny Animation</a></td>
    </tr>
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>


