<table>
    <tr>
        <td>
            <a href="{{site.baseurl}}/aboutme" target="_blank" title="Frontend">
              <img src="https://github.com/iKAN2025.png" height="60" alt="Frontend">
            </a>
          </td>
        <td><a href="{{site.baseurl}}/playground">Playground</a></td>
        <td><a href="{{site.baseurl}}/menu">Fast Food Menu</a></td>
        <td><a href="{{site.baseurl}}/score">GPA Calculator</a></td>
        <td><a href="{{site.baseurl}}/spinner">Spinny Animation</a></td>
    </tr>
</table>